.productsSectionHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 20vw;
}

.divProductsHome{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: .5vw 2vw; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
}