.navbarContainer{
    display: flex;
    flex-direction: row;
    background-color: #fbedd3;
    width: 100vw;
    height: 8vh;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
}

.navBarConFav{
    position: fixed;
    top: 0;
}

.logoNav{
    width: 80vh;
    height: 8vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10vw;
    font-size: 2vw;
}

.productosClickeado{
    margin-left: 3vw;
    cursor: pointer;
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2vw;
}


.itemNav{
    font-family: 'Zilla Slab', serif;
    margin-left: 3vw;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2vw;
}
.itemNav:nth-child(1){
    margin-left: 5vw;
}

.itemNav:nth-child(4){
    margin-left: 4vw;
}

.itemNav:nth-child(6){
    width: 4.5vh;
    height: 4.5vh;
    margin-left: 1vw;
}


.itemFavColor{
    animation: favoritoColor .7s ease-in-out forwards;
    width: 4.5vh;
    height: 4.5vh;
    margin-left: 1vw;
    cursor: pointer;
}

@keyframes favoritoColor {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.2);
    }
    100%{
        transform: scale(1);
        color: #c9a489;
    }
}

.IconCaretDown{
    display: inline;
    position: absolute;
    animation: giroAbajo ease-in-out .5s forwards;
}
@keyframes giroAbajo {
    0%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.IconCaretDownDisabled{
    display: inline;
    position: absolute;
    animation: giroArriba ease-in-out .5s forwards;
}

@keyframes giroArriba {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}


.productsNavDisplay{
    font-family: 'Zilla Slab', serif;
    display: flex;
    position: absolute;
    left: 0;
    transform: translateY(2.5vh);
    background-color: #f9f5ea;
    animation: productoDisplay ease-in-out .5s;
    height: 25vh;
    font-size: 1.2vw;
    width: 100%;
    z-index: 3;
}

.productsNavDisplayNone{
    height: 0;
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f5ea;
    transform: translateY(2.5vh);
    animation: productoDisplayNone ease-in-out .5s;
    font-size: 0vw;
    width: 100%;
    z-index: 3;
    font-family: 'Zilla Slab', serif;
}


@keyframes productoDisplay {
    0%{
        height: 0;
        font-size: 0vw;
        opacity: 0;
    }
    100%{
        height: 25vh;
        font-size: 1.2vw;
    }
}

@keyframes productoDisplayNone {
    0%{
        height: 25vh;
        font-size: 1.2vw;
        display: flex;
    }
    100%{
        height: 0;
        display: none;
        font-size: 0;
        opacity: 0;
    }
}

.productItemNav{
    margin: 2vw;
    width: 100%;
}

.topNavBar{
        bottom: 5vh;
        right: 2vw;
        background-color: #b68068ff;
        position: fixed;
        color: #fff;
        width: 5vh;
        height: 5vh;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        padding: 1vh;
        cursor: pointer;
        opacity: 1;
        animation: topNavBarAnimation ease-in-out .5s forwards;
        z-index: 4;
}

@keyframes topNavBarAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.topNavBar:hover{
    animation: animacionTopNavHover ease-in-out .5s;
}

@keyframes animacionTopNavHover {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.topNavBarNone{
    bottom: 5vh;
    right: 2vw;
    background-color: #000;
    position: fixed;
    color: #fff;
    width: 8vh;
    height: 8vh;
    display: flex;
    z-index: 3;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    cursor: pointer;
    opacity: 0;
    display: none;
    animation: topNavBarAnimationNone ease-in .3s;
}

@keyframes topNavBarAnimationNone {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}





/* FAVORITOS */
.favoritesContainer{
    top: 8vh;
    width: 75vh;
    height: 92vh;
    background-color: #f9f5ea;
    display: flex;
    position: fixed;
    right: 0;
    z-index: 3;
    animation: favoritesContainerAnimation ease-in-out .5s forwards;
    overflow-y: auto;   
}

.favoritesContainerNone{
    top: 8vh;
    width: 75vh;
    height: 92vh;
    background-color: #f9f5ea;
    display: flex;
    position: fixed;
    right: 0;
    justify-content: center;
    z-index: 3;
    transform: translateX(100%);
    animation: favoritesContainerNoneAnimation ease-in-out .5s;
    display: none;
}

@keyframes favoritesContainerAnimation {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        display: flex;
    }
}

@keyframes favoritesContainerNoneAnimation {
    0%{
        transform: translateX(0%);
        display: flex;
    }
    100%{
        opacity: 0;
        transform: translateX(100%);
        display: none;
    }
}


.divFavoriteListTitle{
    margin-left: 25vh;
    font-size: 3vh;
}

.liFavItem{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divFavItem{
    display: flex;
    flex-direction: row;
}

.imgFavDivItem{
    display: flex;
    width: 15vh;
    height: 15vh;
    background-color: #fff;
    margin-top: 2vh;
    border-radius: 10px;
}

.imgFavDivItem>img{
    margin: 1.5vh;
    width: 12vh;
    height: 12vh;
}

.descFavItemDiv{
    width: 40vh;
    margin-left: 2vh;
}

.descFavItemDiv>h5{
    font-size: 2.4vh;
    margin: 0;
    margin-top: 2vh;
}
.divPriceAndBuyDivItem{
    display: flex;
    align-items: center;
    margin-top: 2vh;
}
.divPriceAndBuyDivItem>h6{
    font-size: 3vh;
    margin: 0;
}

.divPriceAndBuyDivItem>span{
    position: absolute;
    margin-left: 20vh;
    background-color: #000;
    color: #fff;
    font-size: 2.6vh;
    padding: 1vh;
    padding-right: 1.6vh;
    border-radius: 10px;
    width: 16vh;
    cursor: pointer;
}

.shoppinCartItemDiv{
    width: 2.6vh;
    height: 2.6vh;
    margin-top: .6vh;
}

.trashXicon{
    background-color: #fff;
    width: 4vh;
    height: 4vh;
    padding: .5vh;
    margin-left: 2vh;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

.trashXicon:hover{
    background-color: rgb(255, 72, 0);
}

.IconChevronRightClose{
    margin-top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vh;
    margin-left: -1.5vh;
    position: absolute;
    cursor: pointer;
}

.sinProducts{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-left: 15vh;
}

