.searchBarMarketplace{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  margin-left: 40vw;
}

.tituloMarketplace{
  font-size: 2.5vw;
}

.iconSearchNavMarketplace{
  position: absolute;
  padding-left: 1vh;
}

.searchNavMarketplace{
  height: 5vh;
  width: 20vw;
  outline: none;
  border-radius: 30px;
  border: solid 2px gray;
  padding-left: 6vh;
  }

  .searchNav:focus{
      border: solid 2px #000;
  }



.divProductsMarketplace{
  margin-right: 5vw;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: .5vw 2vw; 
    grid-template-areas: 
      ". . . "
      ". . . "
      ". . . "; 
      align-items: start;
}


.errorFiltrando{
  display: flex;
  height: 100vh;
}

.errorFiltrandoNone{
  display: none;
  height: 100vh;
}


.marketplaceAllContainer{
  display: flex;
  flex-direction: row;
  background-color: #f9f5ea;
  font-family: Zilla Slab;
  font-size: 1.5vw;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.3vw;
}

.filtrosMarketplaceDiv{
  display: flex;
  flex-direction: column;
  margin-top: 9.5vh;
  margin-right: 3vw;
  margin-left: .5vw;
  width: 27vw;
  height: 85vh;
  border-radius: 10px;
  background-color: transparent;
  color: var(--complement-ruined-smores, #0C0D12);
  position: fixed;
  border: solid 2px var(--dark-300, #555659);
  box-shadow: 0px 0px 12px 0px rgba(182,128,104,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(182,128,104,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(182,128,104,0.75);
overflow-y: auto;
}

.filtrosMarketplaceDivBlock{
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
  margin-left: .5vw;
  width: 27vw;
  height: 85vh;
  border-radius: 10px;
  background-color: transparent;
  color: var(--complement-ruined-smores, #0C0D12);
  position: absolute;
  border: solid 2px var(--dark-300, #555659);
  box-shadow: 0px 0px 12px 0px rgba(182,128,104,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(182,128,104,0.75);
-moz-box-shadow: 0px 0px 12px 0px hsla(18, 35%, 56%, 0.749);
overflow-y: auto;
}

.filtrosMarketplaceDiv::-webkit-scrollbar{
  width: 10px;
}

.filtrosMarketplaceDiv::-webkit-scrollbar-thumb{
  background-color: #b68068bf;
  border-radius: 10px;
  margin-top: 1vw;
}

.filtrosMarketplaceDiv::-webkit-scrollbar-track{
  background-color: #ddd;
  border-radius: 10px;
  margin-top: .5vw;
  margin-bottom: .5vw;
}

.productosMarketplace{
  margin-left: 30vw;
}

.itemFiltros{
  border-bottom: solid 1px var(--complement-ruined-smores, #0C0D12);
  padding: 1vw;
  padding-left: 2vw;
  cursor: pointer;
  transition: all .5s;
  font-weight: 600;
}
.itemFiltros>span{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemFiltros:nth-child(1){
  font-size: 2vw;
}

.itemFiltros:nth-child(2){
  display: flex;
  flex-direction: column;
  line-height: 3vw;
}

.itemFiltros:nth-child(3){
  display: flex;
  flex-direction: column;
  line-height: 3vw;
}

.itemFiltros:nth-child(4){
  display: flex;
  flex-direction: column;
  line-height: 3vw;
}

.categoryFilterNone{
  animation: categoryFilterNone ease-in-out .5s forwards;
  font-weight: 400;
}

.categoryFilterActive{
  animation: categoryFilterActive ease-in-out .5s forwards;
  font-weight: 400;
}

@keyframes categoryFilterNone {
  0%{
    opacity: 1;
    display: flex;
    height: 6vh;
  }
  45%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    display: none;
    height: 0;
  }
}
@keyframes categoryFilterActive {
  0%{
    opacity: 0;
    display: none;
    height: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    display: flex;
    height: 6vh;
    align-items: center;
  }
}

.priceFilterActive{
  animation: priceFilterActive ease-in-out .5s forwards;
  font-weight: 400;
}

@keyframes priceFilterActive {
    0%{
      opacity: 0;
      display: none;
      height: 0;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;
      display: flex;
      height: 6vh;
      align-items: center;
  }
}

.priceFilterNone{
  animation: priceFilterNone ease-in-out .5s forwards;
  font-weight: 400;
}

@keyframes priceFilterNone {
  0%{
    opacity: 1;
    display: flex;
    height: 6vh;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    display: none;
    height: 0;
  }
}

.priceFilterActive>input{
  width: 4vw;
  height: 2vw; 
}

.priceFilterNone>input{
animation: priceFilterNoneInput ease-in-out .5s forwards;
}

@keyframes priceFilterNoneInput {
  0%{
    height: 2vw;
    width: 4vw;
  }
  100%{
    height: 0;
    width: 4vw;
  }
}


.qualyFilterActive{
  animation: qualyFilterActive ease-in-out .5s forwards;
  font-weight: 400;
}

@keyframes qualyFilterActive {
  0%{
    opacity: 0;
    display: flex;
    align-items: center;
    height: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    display: flex;
    height: 6vh;
    align-items: center;
}
}

.qualyFilterNone{
  animation: qualyFilterNone ease-in-out .5s forwards;
  font-weight: 400;
}

@keyframes qualyFilterNone {
  0%{
    opacity: 1;
    display: flex;
    align-items: center;
    height: 6vh;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    display: flex;
    align-items: center;
    height: 0;
  }
}

.iconCategoryFilterActive{
  margin-left: auto;
  animation: iconCategoryFilterActive ease-in-out .5s forwards;
}

.iconCategoryFilterNone{
  margin-left: auto;
  transform: rotate(90deg);
  animation: iconCategoryFilterNone ease-in-out .5s forwards;
}

@keyframes iconCategoryFilterActive {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(90deg);
  }
}

@keyframes iconCategoryFilterNone {
  0%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0);
  }
}


.iconPriceFilterActive{
margin-left: auto;
animation: iconPriceFilterActive ease-in-out .5s forwards;
}


.iconPriceFilterNone{
  margin-left: auto;
  transform: rotate(90deg);
  animation: iconPriceFilterNone ease-in-out .5s forwards;
  }

@keyframes iconPriceFilterActive {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(90deg);
  }
}

@keyframes iconPriceFilterNone {
  0%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0);
  }
}


.iconQualyFilterActive{
  margin-left: auto;
  animation: iconPriceFilterActive ease-in-out .5s forwards;
  }
  
  
  .iconQualyFilterNone{
    margin-left: auto;
    animation: iconQualyFilterNone ease-in-out .5s forwards;
    }
  
  @keyframes iconQualyFilterActive {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(90deg);
    }
  }
  
  @keyframes iconQualyFilterNone {
    0%{
      transform: rotate(90deg);
    }
    100%{
      transform: rotate(0);
    }
  }

  .referenceDivMarketplace{
    width: 100vw;
    height: 50vh;
    background-color: #000;
  }